Cooking Organizer.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Cooking Organizer.xcworkspace/xcuserdata/raressoponar.xcuserdatad/UserInterfaceState.xcuserstate
Cooking Organizer.xcworkspace/xcuserdata/raressoponar.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
