Cooking Organizer.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Cooking Organizer.xcworkspace/xcuserdata/raressoponar.xcuserdatad/UserInterfaceState.xcuserstate
Cooking Organizer.xcworkspace/xcuserdata/raressoponar.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Cooking Organizer.xcodeproj/xcuserdata/rares.soponar.xcuserdatad/xcschemes/xcschememanagement.plist
Cooking Organizer.xcworkspace/xcuserdata/rares.soponar.xcuserdatad/UserInterfaceState.xcuserstate
