<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946409557933-mkblea1sldssndu3a49i33a4s7eastmk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946409557933-mkblea1sldssndu3a49i33a4s7eastmk</string>
	<key>API_KEY</key>
	<string>AIzaSyCA7dXYR-rh1EqeD14VbuvivrPxeyaiDmw</string>
	<key>GCM_SENDER_ID</key>
	<string>946409557933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>raressoponar.Cooking-Organizer</string>
	<key>PROJECT_ID</key>
	<string>cooking-organizer-db30f</string>
	<key>STORAGE_BUCKET</key>
	<string>cooking-organizer-db30f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946409557933:ios:e1d1ffd05b57da533c1b24</string>
	<key>DATABASE_URL</key>
	<string>https://cooking-organizer-db30f.firebaseio.com</string>
</dict>
</plist>